In [103]:
import pandas         as pd
import numpy          as np
import seaborn        as sns
import plotly.express as px
import ipywidgets     as widgets

from ipywidgets            import fixed
from matplotlib            import gridspec
from matplotlib            import pyplot as plt
from geopy.geocoders       import Nominatim
from IPython.core.display  import HTML
from IPython.display       import Image

In [104]:
# Funcoes 
def bt_intslider(Val,Min,Max,desc=''):
    
    bt = widgets.IntSlider(value = Val, 
                           min = Min,
                           max = Max, 
                           step = 1,
                           description=desc,
                           disable=False,
                           orientation='horizontal',
                           style = {'description_width': 'initial'})
    return bt    

# Criação de Botões
def bt_dropdown(data,x='',desc=''):
    
    bt1 = widgets.Dropdown(
    options=data[x].sort_values().unique().tolist(),
    description= desc,
    disabled=False,
    style={'description_width': 'initial'})
    
    return bt1   



# Estatística Descritiva
def num_metricas(num_attributes):
  #Central tendencian - mean, median

  ct1 = pd.DataFrame( num_attributes.apply(np.mean)).T
  ct2 = pd.DataFrame(num_attributes.apply(np.median)).T

  #Dispersion - std, min, max, range, skew, kurtosis

  d1 = pd.DataFrame(num_attributes.apply(np.std)).T
  d2 = pd.DataFrame(num_attributes.apply(min)).T
  d3 = pd.DataFrame(num_attributes.apply(max)).T
  d4 = pd.DataFrame(num_attributes.apply(lambda x: x.max() - x.min() )).T
  d5 = pd.DataFrame(num_attributes.apply(lambda x: x.skew() )).T
  d6 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis() )).T

  #Concatenate
  metrics = pd.concat([d2, d3, d4, ct1, ct2, d1, d5, d6]).T.reset_index()
  metrics.columns = ['attributes','min', 'max', 'range', 'mean', 'median', 'std', 'skew','kurtosis']
  return metrics


def jupyter_settings():
    
    %matplotlib inline 
    #%pylab inline
    
    plt.style.use('bmh')
    plt.rcParams['figure.figsize']=[20,10]
    plt.rcParams['font.size']=10
    
    display( HTML('<style>.container {width:100% !important; }</style>'))
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option('display.expand_frame_repr',False )
    pd.set_option('display.float_format',lambda x: '%.2f' % x)
    

    sns.set()

jupyter_settings()

In [32]:

data = pd.read_csv('../datasets/kc_house_data.csv')
# Garantir que o formato date é um datetime

data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )

# Suprimir notacao cientifica 

np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

In [33]:
# loading data into memory

data = pd.read_csv('../datasets/kc_house_data.csv')

# Garantir que o formato date é um datetime
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )

# 2.3 1. Qual a média do preço de compra dos imóveis por “Nível”?

    - Nível 0 -> Preço entre R$ 0 e R$ 321.950
    - Nível 1 -> Preço entre R$ 321.950 e R$ 450.000
    - Nível 2 -> Preço entre R$ 450.000 e R$ 645.000
    - Nível 3 -> Acima de R$ 645.000

In [34]:

# Define level of prices 

data['level'] = data['price'].apply( lambda x : 'lvl_0' if x <= 321950 else
                                                'lvl_01'if (x >= 321950) & (x <= 450000) else
                                                'lvl_02'if (x >= 450000) & (x <= 645000) else
                                                'lvl_03'
                                                                                                )

In [35]:
data.sample(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,level
19875,6056100370,2014-11-24,430000.00,3,2.25,2020,2750,2.00,0,0,...,1680,340,2008,0,98108,47.56,-122.30,1720,1546,lvl_01
7010,7751800080,2015-01-27,465000.00,3,1.50,1460,9879,1.00,0,0,...,1460,0,1956,0,98008,47.63,-122.13,1610,10050,lvl_02
16625,4139660430,2015-05-05,1200690.00,5,3.00,3640,28531,2.00,0,0,...,3640,0,1996,0,98006,47.55,-122.13,3330,17186,lvl_03
16811,414100280,2015-04-14,336000.00,2,1.00,1180,7200,1.00,0,0,...,1180,0,1949,0,98133,47.75,-122.34,1180,7200,lvl_01
7071,686400670,2015-04-14,678000.00,3,1.75,1670,7210,1.00,0,0,...,1670,0,1967,0,98008,47.63,-122.12,2200,7210,lvl_03
21297,7787920080,2014-06-16,492500.00,5,2.50,2570,9962,2.00,0,0,...,2570,0,2006,0,98019,47.73,-121.96,2890,9075,lvl_02
5049,7856410430,2014-05-30,1385000.00,6,2.75,5700,20000,1.00,0,4,...,2850,2850,1977,0,98006,47.56,-122.16,3690,15700,lvl_03
3354,7518508625,2015-04-16,900000.00,3,1.00,1560,3825,1.50,0,0,...,1390,170,1930,0,98117,47.68,-122.39,1700,5100,lvl_03
18322,7853310590,2014-05-29,658000.00,4,2.75,3310,6166,2.00,0,0,...,3310,0,2008,0,98065,47.52,-121.88,3200,7027,lvl_03
8647,5608000590,2014-07-14,929950.00,3,3.50,3790,10829,2.00,0,0,...,3790,0,1993,0,98027,47.55,-122.10,3620,10989,lvl_03

In [36]:
# Media de precos por cada Nivel. 

df = data[['level', 'price']].groupby( 'level' ).mean().reset_index()
df

    level     price
0  lvl_01 385677.01
1  lvl_02 539730.96
2  lvl_03 618517.93

In [37]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'level'],
      dtype='object')

2.4 2. Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
- Size 0 -> Tamanho entre 0 e 1427 sqft
- Size 1 -> Tamanho entre 1427 e 1910 sqft
- Size 2 -> Tamanho entre 1910 e 2550 sqft
- Size 3 -> Tamanho acima de 2550 sqft

In [38]:
data['size'] = data['sqft_living'].apply( lambda x :'size_0' if int(x <= 1427) else
                                                    'size_1' if int((x >= 1427)) & int((x <= 1910)) else
                                                    'size_2' if int((x >= 1910)) & int((x <= 2550)) else
                                                    'size_3')

In [39]:
# Media de precos por cada Nivel. 

df = data[['size', 'sqft_living']].groupby( 'size' ).mean().reset_index()
df

     size  sqft_living
0  size_0      1123.83
1  size_1      1664.96
2  size_2      2211.79
3  size_3      3329.61

# 2.5 3. Adicione as seguinte informações ao conjunto de dados original:

    - Place ID: Identificação da localização
    - OSM Type: Open Street Map type
    - Country: Nome do País
    - Country Code: Código do País

In [40]:
#

In [41]:
#

In [42]:
#

In [43]:
#

In [44]:
#

In [45]:
#

# 2.6 4. Adicione os seguinte filtros no Mapa:
    - Tamanho mínimo da área da sala de estar. OK
    
    - Número mínimo de banheiros. 
    - Valor Máximo do Preço. OK 
    - Tamanho máximo da área do porão.
    - Filtro das Condições do Imóvel.
    - Filtro por Ano de Construção.

In [46]:
data.columns
data.head(50)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,level,size
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,...,0,1955,0,98178,47.51,-122.26,1340,5650,lvl_03,size_0
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,...,400,1951,1991,98125,47.72,-122.32,1690,7639,lvl_02,size_3
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,...,0,1933,0,98028,47.74,-122.23,2720,8062,lvl_03,size_0
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,...,910,1965,0,98136,47.52,-122.39,1360,5000,lvl_02,size_2
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,...,0,1987,0,98074,47.62,-122.05,1800,7503,lvl_02,size_1
5,7237550310,2014-05-12,1225000.00,4,4.50,5420,101930,1.00,0,0,...,1530,2001,0,98053,47.66,-122.00,4760,101930,lvl_03,size_3
6,1321400060,2014-06-27,257500.00,3,2.25,1715,6819,2.00,0,0,...,0,1995,0,98003,47.31,-122.33,2238,6819,lvl_03,size_1
7,2008000270,2015-01-15,291850.00,3,1.50,1060,9711,1.00,0,0,...,0,1963,0,98198,47.41,-122.31,1650,9711,lvl_03,size_0
8,2414600126,2015-04-15,229500.00,3,1.00,1780,7470,1.00,0,0,...,730,1960,0,98146,47.51,-122.34,1780,8113,lvl_03,size_1
9,3793500160,2015-03-12,323000.00,3,2.50,1890,6560,2.00,0,0,...,0,2003,0,98038,47.37,-122.03,2390,7570,lvl_01,size_1
10,1736800520,2015-04-03,662500.00,3,2.50,3560,9796,1.00,0,0,...,1700,1965,0,98007,47.60,-122.14,2210,8925,lvl_03,size_3
11,9212900260,2014-05-27,468000.00,2,1.00,1160,6000,1.00,0,0,...,300,1942,0,98115,47.69,-122.29,1330,6000,lvl_02,size_0
12,114101516,2014-05-28,310000.00,3,1.00,1430,19901,1.50,0,0,...,0,1927,0,98028,47.76,-122.23,1780,12697,lvl_03,size_1
13,6054650070,2014-10-07,400000.00,3,1.75,1370,9680,1.00,0,0,...,0,1977,0,98074,47.61,-122.05,1370,10208,lvl_01,size_0
14,1175000570,2015-03-12,530000.00,5,2.00,1810,4850,1.50,0,0,...,0,1900,0,98107,47.67,-122.39,1360,4850,lvl_02,size_1
15,9297300055,2015-01-24,650000.00,4,3.00,2950,5000,2.00,0,3,...,970,1979,0,98126,47.57,-122.38,2140,4000,lvl_03,size_3
16,1875500060,2014-07-31,395000.00,3,2.00,1890,14040,2.00,0,0,...,0,1994,0,98019,47.73,-121.96,1890,14018,lvl_01,size_1
17,6865200140,2014-05-29,485000.00,4,1.00,1600,4300,1.50,0,0,...,0,1916,0,98103,47.66,-122.34,1610,4300,lvl_02,size_1
18,16000397,2014-12-05,189000.00,2,1.00,1200,9850,1.00,0,0,...,0,1921,0,98002,47.31,-122.21,1060,5095,lvl_03,size_0
19,7983200060,2015-04-24,230000.00,3,1.00,1250,9774,1.00,0,0,...,0,1969,0,98003,47.33,-122.31,1280,8850,lvl_03,size_0
20,6300500875,2014-05-14,385000.00,4,1.75,1620,4980,1.00,0,0,...,760,1947,0,98133,47.70,-122.34,1400,4980,lvl_01,size_1
21,2524049179,2014-08-26,2000000.00,3,2.75,3050,44867,1.00,0,4,...,720,1968,0,98040,47.53,-122.23,4110,20336,lvl_03,size_3
22,7137970340,2014-07-03,285000.00,5,2.50,2270,6300,2.00,0,0,...,0,1995,0,98092,47.33,-122.17,2240,7005,lvl_03,size_2
23,8091400200,2014-05-16,252700.00,2,1.50,1070,9643,1.00,0,0,...,0,1985,0,98030,47.35,-122.17,1220,8386,lvl_03,size_0
24,3814700200,2014-11-20,329000.00,3,2.25,2450,6500,2.00,0,0,...,0,1985,0,98030,47.37,-122.17,2200,6865,lvl_01,size_2
25,1202000200,2014-11-03,233000.00,3,2.00,1710,4697,1.50,0,0,...,0,1941,0,98002,47.30,-122.22,1030,4705,lvl_03,size_1
26,1794500383,2014-06-26,937000.00,3,1.75,2450,2691,2.00,0,0,...,700,1915,0,98119,47.64,-122.36,1760,3573,lvl_03,size_2
27,3303700376,2014-12-01,667000.00,3,1.00,1400,1581,1.50,0,0,...,0,1909,0,98112,47.62,-122.31,1860,3861,lvl_03,size_0
28,5101402488,2014-06-24,438000.00,3,1.75,1520,6380,1.00,0,0,...,730,1948,0,98115,47.70,-122.30,1520,6235,lvl_01,size_1
29,1873100390,2015-03-02,719000.00,4,2.50,2570,7173,2.00,0,0,...,0,2005,0,98052,47.71,-122.11,2630,6026,lvl_03,size_3
30,8562750320,2014-11-10,580500.00,3,2.50,2320,3980,2.00,0,0,...,0,2003,0,98027,47.54,-122.07,2580,3980,lvl_02,size_2
31,2426039314,2014-12-01,280000.00,2,1.50,1190,1265,3.00,0,0,...,0,2005,0,98133,47.73,-122.36,1390,1756,lvl_03,size_0
32,461000390,2014-06-24,687500.00,4,1.75,2330,5000,1.50,0,0,...,820,1929,0,98117,47.68,-122.37,1460,5000,lvl_03,size_2
33,7589200193,2014-11-10,535000.00,3,1.00,1090,3000,1.50,0,0,...,0,1929,0,98117,47.69,-122.38,1570,5080,lvl_02,size_0
34,7955080270,2014-12-03,322500.00,4,2.75,2060,6659,1.00,0,0,...,780,1981,0,98058,47.43,-122.16,2020,8720,lvl_01,size_2
35,9547205180,2014-06-13,696000.00,3,2.50,2300,3060,1.50,0,0,...,790,1930,2002,98115,47.68,-122.31,1590,3264,lvl_03,size_2
36,9435300030,2014-05-28,550000.00,4,1.00,1660,34848,1.00,0,0,...,730,1933,0,98052,47.66,-122.13,2160,11467,lvl_02,size_1
37,2768000400,2014-12-30,640000.00,4,2.00,2360,6000,2.00,0,0,...,0,1904,0,98107,47.67,-122.36,1730,4700,lvl_02,size_2
38,7895500070,2015-02-13,240000.00,4,1.00,1220,8075,1.00,0,0,...,330,1969,0,98001,47.33,-122.28,1290,7800,lvl_03,size_0
39,2078500320,2014-06-20,605000.00,4,2.50,2620,7553,2.00,0,0,...,0,1996,0,98056,47.53,-122.18,2620,11884,lvl_02,size_3
40,5547700270,2014-07-15,625000.00,4,2.50,2570,5520,2.00,0,0,...,0,2000,0,98074,47.61,-122.03,2470,5669,lvl_02,size_3
41,7766200013,2014-08-11,775000.00,4,2.25,4220,24186,1.00,0,0,...,1620,1984,0,98166,47.45,-122.35,2410,30617,lvl_03,size_3
42,7203220400,2014-07-07,861990.00,5,2.75,3595,5639,2.00,0,0,...,0,2014,0,98053,47.68,-122.02,3625,5639,lvl_03,size_3
43,9270200160,2014-10-28,685000.00,3,1.00,1570,2280,2.00,0,0,...,0,1922,0,98119,47.64,-122.36,1580,2640,lvl_03,size_1
44,1432701230,2014-07-29,309000.00,3,1.00,1280,9656,1.00,0,0,...,360,1959,0,98058,47.45,-122.17,1340,8808,lvl_03,size_0
45,8035350320,2014-07-18,488000.00,3,2.50,3160,13603,2.00,0,0,...,0,2003,0,98019,47.74,-121.98,3050,9232,lvl_02,size_3
46,8945200830,2015-03-25,210490.00,3,1.00,990,8528,1.00,0,0,...,0,1966,0,98023,47.31,-122.37,1228,8840,lvl_03,size_0
47,4178300310,2014-07-16,785000.00,4,2.50,2290,13416,2.00,0,0,...,0,1981,0,98007,47.62,-122.15,2680,13685,lvl_03,size_2
48,9215400105,2015-04-28,450000.00,3,1.75,1250,5963,1.00,0,0,...,0,1953,0,98115,47.68,-122.30,970,5100,lvl_01,size_0
49,822039084,2015-03-11,1350000.00,3,2.50,2753,65005,1.00,1,2,...,588,1953,0,98070,47.40,-122.45,2680,72513,lvl_03,size_3

In [47]:
data['is_waterfront'] = data['waterfront'].apply( lambda x: 'yes' if x == 1 else 'no')

In [48]:
data = pd.read_csv('../datasets/kc_house_data.csv')

In [49]:
data['is_waterfront'] = data['waterfront'].apply( lambda x: 'yes' if x == 1 else 'no')

# Price
limit = widgets.IntSlider(
    value = int(data['price'].mean()),
    min = int(data['price'].min()),
    max = int(data['price'].max()),
    step = 1,
    description='Maximun Price',
    disable=False,
    style={'description_width': 'initial'}
)

# waterfront_bar = widgets.Dropdown(
#     options = data['is_waterfront'].unique().tolist(),
#     value = 'yes',
#     description = 'Water View',
#     disable=False
# )

# Size 

livingroom_limit = widgets.IntSlider(
    value=int(data['sqft_living'].mean()),
    min = data['sqft_living'].min(),
    max = data['sqft_living'].max(),
    step=1,
    description=' Living Room Size',
    disable=False,
    style={'decription_width': 'initial'}
)

basement_limit = widgets.IntSlider(
    value=int(data['sqft_basement'].mean()),
    min = data['sqft_basement'].min(),
    max = data['sqft_basement'].max(),
    step=1,
    description=' Maximum Basement Size',
    disable=False,
    style={'decription_width': 'initial'}
)

bathroom_limit = widgets.IntSlider(
    value=int(data['bedrooms'].mean()),
    min = data['bedrooms'].min(),
    max = data['bedrooms'].max(),
    step=1,
    description=' Maximum Basement Size',
    disable=False,
    style={'decription_width': 'initial'}
)

condition_limit = widgets.IntSlider(
    value = int( data['condition'].mean() ),
    min = int(data['condition'].min()),
    max = int(data['condition'].max()),
    step = 1,
    description='Minimum condition',
    disable=False,
    style={'description_width': 'initial'}
)
year_limit = widgets.IntSlider(
    value = int( data['yr_built'].mean() ),
    min = int(data['yr_built'].min()),
    max = int(data['yr_built'].max()),
    step = 1,
    description='Year Built',
    disable=False,
)

def update_map (df, limit, livingroom_limit, bathroom_limit,basement_limit, condition_limit, year_limit):
    houses = df[(df['price'] < limit ) & # Maior por que buscamos o valor maximo 
            (df['sqft_living'] < livingroom_limit ) & 
            (df['bedrooms'] < bathroom_limit ) & 
            (df['is_waterfront'] < condition_limit ) & 
            (df['sqft_basement'] < basement_limit ) & 
            (df['yr_built'] < year_limit )] [['id','lat','long','price','sqft_living']].copy()
    # plot map 
    fig = px.scatter_mapbox(houses, 
                    lat="lat", 
                    lon="long",
                    size='price',
                    color_continuous_scale=px.colors.cyclical.IceFire, 
                    size_max=15, 
                    zoom=10,)

    fig.update_layout( mapbox_style ='open-street-map')
    fig.update_layout( height=600 , margin={ 'r':0, 'l': 0, 't':0, 'b': 0})

    fig.show()

# 2.6 4. Adicione os seguinte filtros no Mapa:
    - Tamanho mínimo da área da sala de estar. OK
    
    - Número mínimo de banheiros. 
    - Valor Máximo do Preço. OK 
    - Tamanho máximo da área do porão.
    - Filtro das Condições do Imóvel.
    - Filtro por Ano de Construção.

In [50]:
widgets.interactive( update_map,
    df=fixed( data ),
    limit=limit,
    livingroom_limit=livingroom_limit,
    bathroom_limit=bathroom_limit,
    basement_limit=basement_limit,
    condition_limit=condition_limit,
    year_limit=year_limit
)

interactive(children=(IntSlider(value=540088, description='Maximun Price', max=7700000, min=75000, style=Slide…

# 2.6 4. Adicione os seguinte filtros no Mapa:
    - Tamanho mínimo da área da sala de estar. OK
    - Número mínimo de banheiros. 
    - Valor Máximo do Preço. OK 
    - Tamanho máximo da área do porão.
    - Filtro das Condições do Imóvel.
    - Filtro por Ano de Construção.

#  2.7 5. Adicione os seguinte filtros no Dashboard:
    - Filtro por data disponível para compra.
    - Filtro por ano de renovação.
    - Filtro se possui vista para a água ou não.

In [110]:
df1 = df.copy()

In [113]:
data['year'] = pd.to_datetime(data['date']).dt.strftime( '%Y' )
data['date'] = pd.to_datetime(data['date']).dt.strftime( '%Y-%m-%d' )
data['year_week'] = pd.to_datetime(data['date']).dt.strftime( '%Y-%U')

In [107]:
date_limit = widgets.SelectionSlider(
    options= data['date'].sort_values().unique().tolist(),
    value= '2014-12-01',
    description='Max Avaliable Year',
    disabled=False,
    continous_update = False,
    style={'description_width': 'initial'},
    redout = True
)

renovated_limit = widgets.SelectionSlider(
    options= data['yr_renovated'].sort_values().unique().tolist(),
    value= 1950,
    description='Max Avaliable Year',
    disabled=False,
    continous_update = False,
    style={'description_width': 'initial'}
)

def update_dash( data, date, renovated):
    # Filtrar data
    df = data[(data['date'] <= date) & 
              (data['yr_renovated'] >= renovated)]


    fig = plt.figure( figsize=(21,12))
    specs = gridspec.GridSpec( ncols=2, nrows=2, figure=fig)
    
    ax1 = fig.add_subplot( specs[0, :]) # Primeira linha
    ax2 = fig.add_subplot( specs[1, 0]) # Segunda Linha e Primeira coluna
    ax3 = fig.add_subplot( specs[1, 1]) # Segunda Linha e Segunda coluna
    
    by_year = data[['id', 'year']].groupby('year').sum().reset_index()
    ax1.bar( by_year['year'], by_year['id'])
    ax1.set_title( 'Quantidade de imóvel disponível para compra', fontsize=16)
    
    by_day = data[['id', 'date']].groupby( 'date').mean().reset_index()
    ax2.plot( by_day['date'], by_day['id'])
    ax2.set_title( 'Preço do imóvel por dia', fontsize=16)
    
    by_week_of_year = data[['id', 'year_week']].groupby( 'year_week').mean().reset_index()
    ax3.bar( by_week_of_year['year_week'], by_week_of_year['id'])
    ax3.set_title( 'Preço do imóvel por semana do ano', fontsize=16)
    plt.xticks( rotation=50);

In [109]:
widgets.interactive( update_dash, data=fixed(data), date=date_limit, renovated=renovated_limit )

interactive(children=(SelectionSlider(description='Max Avaliable Year', index=227, options=('2014-05-02', '201…

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'is_waterfront', 'year',
       'year_week'],
      dtype='object')